:root {
  --main-font:                  "Inter", "Arial", sans-serif;
  --secondary-font:             "Montserrat", "Arial", sans-serif;
  --color-transparent:          rgba(255, 255, 255, 0);
  --color-white:                #ffffff;
  --color-solitude:             #e4e5ea;
  --color-comet:                #656566;
  --color-black-russian:        #0e1014;
  --color-my-sin:               #fcb045;
  --color-royal-blue:           #4077f3;
  --color-studio:               #833ab4;
  --color-violet-red:           #ff3f78;
  --color-scarlet:              #fd1d1d;
  --color-mandarian-orange:     #961a1a;
}

/* fonts */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/inter-regular.woff2") format("woff2"),
    url("./fonts/inter-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src:
    url("./fonts/inter-medium.woff2") format("woff2"),
    url("./fonts/inter-medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src:
    url("./fonts/inter-bold.woff2") format("woff2"),
    url("./fonts/inter-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src:
    url("./fonts/inter-black.woff2") format("woff2"),
    url("./fonts/inter-black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src:
    url("./fonts/montserrat-light.woff2") format("woff2"),
    url("./fonts/montserrat-light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/montserrat-regular.woff2") format("woff2"),
    url("./fonts/montserrat-regular.woff") format("woff");
  font-display: swap;
}

/* reboot */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-solitude);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--color-black-russian);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-solitude);
}

/* utils */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* layout */

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: clip;
}

.wrapper::before,
.wrapper::after {
  z-index: -1;
  position: absolute;
  content: "";
  filter: blur(196px);
  opacity: 0.5;
  border-radius: 50%;
}

.wrapper::before {
  top: -154px;
  left: 50%;
  width: 259px;
  height: 259px;
  background-color: var(--color-studio);
  transform: translateX(-50%);
}

.wrapper::after {
  top: 250px;
  left: -102px;
  width: 311px;
  height: 311px;
  background-color: var(--color-mandarian-orange);
}

.header {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
}

/* header */

.header {
  position: relative;
}

.header::before,
.header::after {
  z-index: -1;
  position: absolute;
  content: "";
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

.header::before {
  top: 0;
  left: 60.3%;
  width: 60px;
  height: 60px;
  background-image: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 60%,
    rgba(118, 49, 164, 0.208) 78%,
    rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
}

.header::after {
  bottom: 7px;
  left: 36%;
  width: 83px;
  height: 83px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 60%,
    rgba(167, 49, 49, 0.248) 78%,
    rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
  padding: 57px 70px;
}

.header__logo {
  flex: 0 0 auto;
  margin-right: 38px;
}

.header__navigation {
  flex: 1 1 auto;
}

/* logo */

.logo {
  display: flex;
  flex-direction: column;
  flex-basis: 140px;
}

.logo__image {
  width: 140px;
  height: 24px;
  margin-bottom: 11px;
}

.logo__text {
  font-family: var(--secondary-font);
  font-size: 10px;
  line-height: 1.2;
  font-weight: 300;
}

/* navigation */

.navigation {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: start;
  margin-right: -8px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.navigation__link {
  display: block;
  padding: 4px 15px;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
}

.navigation__phone {
  margin-right: 32px;
}

.navigation__social {
  min-width: 130px;
}

/* social */

.social {
  display: grid;
  grid-template-columns: repeat(auto-fit, 26px);
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.social__link--telegram {
  background-image: url('./img/telegram-icon.svg');
}

.social__link--whatsapp {
  background-image: url('./img/whatsapp-icon.svg');
}

.social__link--viber {
  background-image: url('./img/viber-icon.svg');
}

/* phone */

.phone {
  display: block;
  padding: 4px 10px;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
}

/* intro */

.intro {
  position: relative;
}

.intro::before {
  z-index: -1;
  position: absolute;
  bottom: 73px;
  left: 59.1%;
  content: "";
  width: 28px;
  height: 28px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 60%,
    rgba(167, 49, 49, 0.264) 78%,
    rgba(130, 25, 25, 0.232) 100%);
  border-radius: 50%;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 35px 67px;
}

.intro__left {
  max-width: 434px;
  margin-right: 30px;
}

.intro__right {
  max-width: 400px;
}

.intro__slogan {
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 1.2;
}

.intro__slogan span {
  font-weight: 900;
  background-image: linear-gradient(
    92deg,
    var(--color-my-sin) 27%,
    var(--color-violet-red) 121%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__description {
  width: 80%;
  margin: 0;
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
}

/* promo */

.promo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 17px 3px;
}

.promo__text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  text-align: right;
}

.promo__text span {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo__text span:first-child {
  background-image: linear-gradient(
    90deg, var(--color-my-sin) -15%,
    var(--color-scarlet) 100%);
}

.promo__text span:last-child {
  background-image: linear-gradient(
    90deg, var(--color-my-sin) 63%,
    var(--color-scarlet) 132%);
}

.promo__list {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  column-gap: 28px;
  row-gap: 30px;
  margin: 0;
  margin-bottom: 60px;
}

.promo__term {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.promo__mobile {
  display: none;
}

.promo__definition {
  margin: 0;
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-align: right;
}

.promo__button {
  display: block;
  min-width: 262px;
  padding: 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background-color: var(--color-royal-blue);
}

/* footer */

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "f-about     f-menu      f-contact  "
    "f-copyright f-copyright f-copyright";
  column-gap: 14px;
  row-gap: 33px;
  padding: 72px 70px 20px;
}

.footer__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-comet);
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  display: block;
  font-size: 16px;
  line-height: 1.18;
}

/* --about */

.footer__column--about {
  grid-area: f-about;
}

/* --menu */

.footer__column--menu {
  grid-area: f-menu;
  display: grid;
  grid-template-columns: 176px 1fr;
  column-gap: 20px;
}

.footer__column--menu .footer__title {
  grid-column: 1 / -1;
}

.footer__mobile {
  display: none;
}

/* --contact */

.footer__column--contact {
  grid-area: f-contact;
}

.footer__column--contact .footer__title {
  text-align: right;
}

.footer__column--contact .footer__list {
  align-items: flex-end;
}

.footer__column--contact .footer__item:not(:last-child) {
  margin-bottom: 19px;
}

.footer__phone.phone {
  padding: 0;
}

.footer__social.social {
  min-width: 82px;
  width: 200px;
  grid-template-columns: repeat(auto-fit, 22px);
  justify-content: end;
  gap: 8px;
}

.footer__social .social__link {
  width: 22px;
  height: 22px;
}

.footer__address {
  display: block;
  font-size: 16px;
  line-height: 1.18;
  text-align: right;
}

/* copyright */

.footer__copyright {
  grid-area: f-copyright;
}

.copyright {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  text-align: right;
}

.copyright__text {
  margin: 0;
  margin-bottom: 5px;
}

.copyright__link {
  text-decoration-line: underline;
}

/* tablet styles */

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }

  .header__wrapper {
    padding: 57px 30px;
  }

  .intro__wrapper {
    padding: 35px 30px;
  }

  .footer__wrapper {
    padding: 72px 30px 20px;
  }
}

@media (max-width: 1199px) {
  .navigation {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  .navigation__list {
    grid-row: 1 / 3;
  }

  .navigation__phone {
    margin-right: 0;
  }

  .navigation__social {
    grid-column: 2 / 3;
    justify-self: end;
  }
}

/* mobile styles */

@media (max-width: 767px) {
  /* layout */

  .wrapper::before {
    top: 162px;
    right: -197px;
    left: initial;
    transform: translateX(0);
  }

  .wrapper::after {
    top: 296px;
    left: -55px;
    width: 211px;
    height: 211px;
  }

  .container {
    padding: 0 15px;
  }

  /* header */

  .header {
    min-width: 320px;
  }

  .header::before,
  .header::after {
    content: initial;
  }

  .header__logo {
    display: none;
  }

  /* navigation */

  .navigation {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 -8px;
  }

  .navigation__list {
    grid-row: initial;
    justify-content: center;
    margin: 0;
  }

  .navigation__item:last-child {
    display: none;
  }

  .navigation__link {
    padding: 20px 8px;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .navigation__phone {
    display: none;
  }

  .navigation__social {
    display: none;
  }

  /* intro */

  .intro {
    min-width: 320px;
    background-image: url("./img/bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .intro::before {
    content: initial;
  }

  .intro__wrapper {
    flex-direction: column;
    justify-content: initial;
    padding: 40px 15px;
  }

  .intro__left {
    max-width: initial;
    margin: 0;
    margin-bottom: 46px;
  }

  .intro__right {
    max-width: initial;
    margin-bottom: 19px;
  }

  .intro__slogan {
    margin-bottom: 14px;
    font-size: 36px;
    line-height: 1.22;
  }

  .intro__description {
    width: initial;
  }

  /* promo */

  .promo {
    align-items: initial;
    padding: 0;
  }

  .promo__text {
    margin-bottom: 19px;
    text-align: left;
  }

  .promo__text span {
    letter-spacing: 0;
    text-transform: lowercase;
  }

  .promo__text span:first-child {
    background-image: linear-gradient(
      90deg, var(--color-my-sin) 30%,
      var(--color-scarlet) 140%);
  }

  .promo__text span:last-child {
    background-image: linear-gradient(
      90deg, var(--color-my-sin) 77%,
      var(--color-scarlet) 132%);
  }

  .promo__list {
    grid-template-columns: 116px 166px;
    column-gap: 8px;
    row-gap: 14px;
    margin: 0;
  }

  .promo__item {
    position: relative;
    padding-left: 16px;
  }

  .promo__item::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 10px;
    height: 1px;
    background-image: linear-gradient(
      90deg, var(--color-my-sin) 37%,
      var(--color-scarlet) 100%);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    transform: translateY(-50%);
  }

  .promo__item:nth-child(3) {
    order: -1;
  }

  .promo__term {
    margin: 0;
    font-family: var(--secondary-font);
    font-style: normal;
    font-size: 13px;
    line-height: 1.23;
    font-weight: 400;
    text-align: left;
  }

  .promo__mobile {
    display: block;
  }

  .promo__desktop {
    display: none;
  }

  .promo__definition {
    display: none;
  }

  .promo__button {
    display: none;
  }

  /* footer */

  .footer__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "f-about    "
      "f-menu     "
      "f-contact  "
      "f-copyright";
    column-gap: 0;
    row-gap: 29px;
    padding: 41px 15px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 1.25;
  }

  .footer__link {
    font-size: 14px;
    line-height: 1.21;
  }

  /* --menu */

  .footer__column--menu {
    grid-template-columns: 124px 1fr;
    column-gap: 24px;
  }

  .footer__list ~ .footer__list .footer__item:nth-child(2) {
    order: -1;
  }

  .footer__mobile {
    display: block;
  }

  .footer__desktop {
    display: none;
  }

  /* --contact */

  .footer__column--contact .footer__title {
    text-align: left;
  }

  .footer__column--contact .footer__list {
    align-items: initial;
  }

  .footer__column--contact .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer__social.social {
    width: 100%;
    grid-template-columns: repeat(auto-fit, 24px);
    justify-content: start;
    gap: 10px;
  }

  .footer__social .social__link {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }

  .footer__address {
    font-size: 14px;
    line-height: 1.21;
    text-align: left;
  }

  /* copyright */

  .footer__copyright {
    margin-top: 21px;
  }

  .copyright {
    text-align: left;
  }
}
